<ion-view view-title="Edit Profile">
  <ion-content>
    <form ng-submit="editProfile()" enctype="multipart/form-data">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <label for="profile-picture">Choose a profile picture</label>
          <input type="file" style="" fileread="profile.profile_image">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Phone</span>
          <input type="text" placeholder="phone" ng-model="profile.phone">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="john@suhr.com" ng-model="profile.address" value="preuserdetails.address">
        </label>
      </div>
      <div class="button-bar">
        <button class="button button-assertive" type="submit">Save Changes</button>
        <a class="button" ng-click="goToProfile()" style="font-size: 12px;">Cancel</a>
      </div>
    </form>
  </ion-content>
</ion-view>
